.wrapper {
  height: 100vh;
}
header, .wrapper {
  background-color: #363636;
}


.nav-row {
  background-color: #292929;
}


.inspiration, .the-stuff, .now {
  text-transform: uppercase;
  color: #fff;
  font-family: canada-type-gibson, sans-serif;
}
